body {
    font-family: roboto;
    margin: 0;
}

/* The header is properly implemented as of right now */
.header {
    background-color: #1f2937;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

/* Hero text (main, secondary + image) */
.hero {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    color: #F9faf8;
    font-weight: 900;
}

/* Make some gap between the header links */
.header-links {
    display: flex;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9faf8;
    font-weight: bold;
}

.header-links, .hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    align-self: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 500px;
    height: 300px;
}